lab11-managed-ai-services/translate-pipeliene-managed-3.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Pass",
  "States": {
    "Pass": {
      "Type": "Pass",
      "Next": "StartTranscriptionJob",
      "Parameters": {
        "Input": {
          "Bucket.$": "$.Bucket",
          "Key.$": "$.Key",
          "S3Path.$": "$.S3Path",
          "JobId.$": "$.JobId",
          "TranscriptionKey.$": "States.Format('{}.transcription-{}.json', $.Key, $.JobId)"
        }
      }
    },
    "StartTranscriptionJob": {
      "Type": "Task",
      "Parameters": {
        "IdentifyLanguage": true,
        "Media": {
          "MediaFileUri.$": "$.Input.S3Path"
        },
        "Settings": {
          "ShowAlternatives": true,
          "MaxAlternatives": 2
        },
        "TranscriptionJobName.$": "$.Input.JobId",
        "OutputBucketName.$": "$.Input.Bucket",
        "OutputKey.$": "$.Input.TranscriptionKey"
      },
      "Resource": "arn:aws:states:::aws-sdk:transcribe:startTranscriptionJob",
      "Next": "Wait",
      "ResultPath": "$.TranscriptionJob"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "GetTranscriptionJob",
      "Comment": "Wait for 10 seconds"
    },
    "GetTranscriptionJob": {
      "Type": "Task",
      "Parameters": {
        "TranscriptionJobName.$": "$.TranscriptionJob.TranscriptionJobName"
      },
      "Resource": "arn:aws:states:::aws-sdk:transcribe:getTranscriptionJob",
      "Next": "Choice",
      "ResultPath": "$.TranscriptionJobResult",
      "InputPath": "$.TranscriptionJob"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.TranscriptionJobResult.TranscriptionJob.TranscriptionJobStatus",
          "StringEquals": "COMPLETED",
          "Comment": "COMPLETED",
          "Next": "GetObject"
        },
        {
          "Variable": "$.TranscriptionJobResult.TranscriptionJob.TranscriptionJobStatus",
          "StringEquals": "FAILED",
          "Comment": "FAILED",
          "Next": "Fail"
        }
      ],
      "Default": "Wait"
    },
    "GetObject": {
      "Type": "Task",
      "Next": "Get Transcription Decoded Body",
      "Parameters": {
        "Bucket.$": "$.Input.Bucket",
        "Key.$": "$.Input.TranscriptionKey"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject"
    },
    "Get Transcription Decoded Body": {
      "Type": "Pass",
      "Next": "Get Transcript",
      "Parameters": {
        "TranscriptionBody.$": "States.StringToJson($.Body)"
      }
    },
    "Get Transcript": {
      "Type": "Pass",
      "Next": "TranslateText",
      "Parameters": {
        "Transcript.$": "$.TranscriptionBody.results.transcripts[0].transcript"
      }
    },
    "TranslateText": {
      "Type": "Task",
      "Next": "StartSpeechSynthesisTask",
      "Parameters": {
        "SourceLanguageCode": "en",
        "TargetLanguageCode": "ru",
        "Text.$": "$.Transcript"
      },
      "Resource": "arn:aws:states:::aws-sdk:translate:translateText"
    },
    "StartSpeechSynthesisTask": {
      "Type": "Task",
      "Next": "Wait Speech Sythesis",
      "Parameters": {
        "OutputFormat": "mp3",
        "OutputS3BucketName": "adavydenko-traslation-output",
        "Text.$": "$.TranslatedText",
        "VoiceId": "Tatyana"
      },
      "Resource": "arn:aws:states:::aws-sdk:polly:startSpeechSynthesisTask"
    },
    "Wait Speech Sythesis": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "GetSpeechSynthesisTask"
    },
    "GetSpeechSynthesisTask": {
      "Type": "Task",
      "Next": "Choice (1)",
      "Parameters": {
        "TaskId.$": "$.SynthesisTask.TaskId"
      },
      "Resource": "arn:aws:states:::aws-sdk:polly:getSpeechSynthesisTask"
    },
    "Choice (1)": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.SynthesisTask.TaskStatus",
          "StringEquals": "completed",
          "Next": "Success (1)"
        },
        {
          "Variable": "$.SynthesisTask.TaskStatus",
          "StringEquals": "failed",
          "Next": "Fail (1)"
        }
      ],
      "Default": "Wait Speech Sythesis"
    },
    "Success (1)": {
      "Type": "Succeed"
    },
    "Fail": {
      "Type": "Fail"
    },
    "Fail (1)": {
      "Type": "Fail"
    }
  }
}